.flex
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

h1{
	font-family: fantasy;
	font-size: 5em;
	border-bottom: solid pink;
	border-right: solid pink;
	width: 600px;
	text-align: center;
}
img
{
	width : 450px;
	height: 300px;
	margin:10px; 
	transition: all 1s;
}

img:hover {
	transform : scale(1.1);

}